@import "tailwindcss";

.assignments-container {
  width: 100%;
  height: 280px;
  border-radius: 16px;
}

.assignments-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 8px 0;
  padding: 8px 4px 12px 4px;
  border-bottom: 1px solid #efefef;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.assignments-header-title {
  justify-content: left;
  font-weight: 700;
}

.assignments-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 8px 0 0 0;
  font-family: "Inter", sans-serif;
}

.assignment-item-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.assignment-item-content .assignment-icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: contain;
}

.assignment-status-button {
  height: 28px;
  width: 100px;
  padding: 0 12px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 999px;
  color: #111111;
  margin-left: auto;
}

.assignment-item {
  width: 100%;
  height: 55px;
  padding: 12px 14px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.assignment-item + .assignment-item {
  margin-top: 12px;
}

.assignment-item h1 {
  font-weight: 700;
  font-size: 18px;
}

.assignment-item p {
  font-size: 14px;
  color: #525252;
}

