@import "tailwindcss";
/* ------------------------------
Dan1el 1st block
------------------------------ */

.PageBlock1{
    width: 100%;
    background-color:#f7f7f5;
    border-radius: 16px;
  }
  
  .CourseYouReTakingHeader{ 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    margin-bottom:10px; 
  }
  .CourseYouReTakingHeader1{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    justify-content: left;
  }
  
  .CourseYouReTakingHeaderOption{
    height: 32px;
    padding: 0 10px;
    border-radius: 16px;
    background: #ffffff;
    color: #1f1e30;
    border: 1px solid #e5e5e0;
    font: 500 14px/32px "Inter", sans-serif;
  }
  
  .CourseYouReTakingHeaderButton{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #d8f274;
    color: #111111;
    border: none;
    font: 700 18px/28px "Inter", sans-serif;
    text-align: center;
  }
  
  .CourseYouReTakingHeader2{ 
    display:flex; 
    gap:8px; 
    justify-content:right; 
    align-items:center; 
  }
  
  .CourseYouReTakingHeader1{
    display: flex;
  }
  
  .progressp45 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    background: conic-gradient(#7ad000 0 45%, #e9ecef 0); 
  }
  
  .progressp75 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    background: conic-gradient(#7ad000 0 75%, #e9ecef 0); 
  }
  
  .Subblock3Block1{ 
    display:flex; 
    gap:6px; 
    align-items:center; 
  }
  
  .SectionSubblock1Block1{ 
    display:flex; 
    gap:6px; 
    align-items:center; 
    color:#6B7280; 
    font-size:10px; 
  }
  
  .Subblock1Block1{ 
    display:flex; 
    gap:10px;
     align-items:center; 
    }
  
  .TextPageMain{ 
    margin:10px 0; 
    padding:10px 14px; 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    background:#ffffff; 
    border-radius:12px; 
    font-family:"Inter", sans-serif; 
    height: 75px;
  }
  
  .TextPageMain p{
    font-size: 10px;
    color: #6B7280;
  }
  
  .TextPageMain h1{
    font-size: 12px;
    color: black;
    font-weight: 700;
  }
  
  .Big{
    width: 40px; 
    height: 40px;
    border-radius: 10px;
  }
  .Small{
    width: 16px; 
    height: 16px;
    border-radius: 50%;
  }
  
  .progressp45, .progressp75{ width:22px; height:22px; }
  
  