@import "tailwindcss";
/* ------------------------------
Dan1el 3rd block
------------------------------ */

.PageBlock2 {
  width: 100%;
  height: 280px;
  border-radius: 16px;
}

.AssignementsHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 8px 0;
  padding: 8px 4px 12px 4px;
  border-bottom: 1px solid #efefef;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
.AssignementsHeader1 {
  justify-content: left;
  font-weight: 700;
}

.BodyPageBlock2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 8px 0 0 0;
  font-family: "Inter", sans-serif;
}

.styleText2Section1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.styleButtonText2 {
  height: 28px;
  width: 100px;
  padding: 0 12px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 999px;
  color: #111111;
  margin-left: auto;
}

.styleText2 {
  width: 100%;
  height: 55px;
  padding: 12px 14px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.styleText2 + .styleText2 {
  margin-top: 12px;
} /* fallback spacing between cards */
/* font-weight: 700; */

.styleText2 h1 {
  font-weight: 700;
  font-size: 14px;
}
.styleText2 p {
  font-size: 12px;
  color: #525252;
}
