@import "tailwindcss";

.calendar-container {
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 16px;
}

.calendar-header {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 16px;
  background: #ffffff;
  color: #1f1e30;
  border: 1px solid #e5e5e0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-nav-button {
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 14px;
  font-size: 13px;
  background-color: #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-days-header {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 16px;
  background: #d5d5d5;
  font-weight: 700;
  border: none;
  border-radius: 16px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-days {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calendar-day-active {
  font-size: 14px;
  color: #999999;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-day-inactive {
  font-size: 14px;
  color: #d5d5d5;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-day-target {
  font-size: 14px;
  color: black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8f274;
}
